@use "../../lib/config" as *;

.rating-starts {
  display: flex;

  &__item {
    color: $gray;
    width: 36px;
    aspect-ratio: 1/1;

    &.--active {
      color: $primary-color;
    }

    @media (max-width: $mobile-breakpoint) {
      width: 20px;
    }
  }
}
