.rating-starts {
  display: flex;

  &__item {
    color: #ccc;
    width: 36px;
    aspect-ratio: 1/1;

    &.--active {
      color: #FF6060;
    }

    @media (max-width: 720px) {
      width: 20px;
    }
  }
}
