@use "../../lib/config" as *;

.collapse {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    background: $primary-color;
    width: 100%;
    border-radius: $radius-base;
    font-size: $font-base;

    @media (max-width:$mobile-breakpoint) {
      font-size: $font-medium;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease-in-out;
  }

  &__content {
    flex-grow: 1;
    display: none;
    padding: 15px;
    background: $near-white;
    border-radius: $radius-small;
    font-weight: 300;
    font-size: $font-base;

    @media (max-width: $mobile-breakpoint) {
      font-size: $font-medium;
    }
  }
}

.--is-open {
  .collapse {
    &__content {
      display: block;
    }

    &__icon {
        transform: rotate(-180deg);
    }
  }
}
