@use "../../lib/config" as *;

.footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: $black;
  height: 210px;
  color: $white;
  font-size: $font-medium;
  font-weight: 500;
  margin-top: 20px;

  .page-logo {
    height: auto;
    width: 120px;
  }
}
