@use "../../lib/config" as *;


.home-view {
  &__banner {
    background: url('../../assets/img/backgound-home-kasa.jpg') no-repeat center center;
    background-size: cover;
    max-height: 225px;
    width: 100%;
    border-radius: $radius-large;
    overflow: hidden;
    aspect-ratio: 5.5/1;
    margin-bottom: 40px;

    @media (max-width: $mobile-breakpoint) {
      aspect-ratio: 3/1;
      border-radius: $radius-base;
      margin-bottom: 20px;
    }

    h1 {
      padding: 1rem;
      color: #fff;
      font-size: $font-xlarge;
      font-weight: 500;
      height: 100%;
      background: #0000003b;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  &__lodges-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 60px;
    background: $near-white;
    padding: 40px;
    border-radius: $radius-large;

    @media (max-width: $mobile-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px;
      padding: 0;
      margin-bottom: 20px;
      background: transparent;
    }

    @media (max-width: 540px) {
      margin-top: 1rem;
      grid-template-columns: 1fr;
    }
  }
}
