.home-view {
  .cover {
    background: url('../../assets/img/backgound-home-kasa.jpg') no-repeat center center;
    background-size: cover;
    max-height: 225px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    aspect-ratio: 5.5/1;
    margin-bottom: 40px;

    @media (max-width: 720px) {
      aspect-ratio: 3/1;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }

  .cover h1 {
    padding: 1rem;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    height: 100%;
    background: #0000003b;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    @media (max-width: 720px) {
      font-size: 24px;
    }
  }

  .lodges-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 60px;
    background: #F6F6F6;
    padding: 40px;
    border-radius: 25px;

    @media (max-width: 720px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px;
      padding: 0;
      margin-bottom: 20px;
      background: transparent;
    }

    @media (max-width: 540px) {
      margin-top: 1rem;
      grid-template-columns: 1fr;
    }
  }
}
